body {
	background-image: url(images/fond.png);
	color: #1B1B1E;
	font-family: "helvetica", sans-serif;
	text-align: center;
}

h1, h2, h3 {
	font-family: "helvetica", serif;
}

a {
	text-decoration: none;
	color: white;
	transition: color 0.3 ease;
}

a:hover {
	color: black;
}

.img-circle {
	width: 200px;
	border-radius: 50%;
	border: red;
}

.container {
	width: 700;
	margin: 0 auto;
}

.card-white {
	background-color: white;
	padding: 20px;
	margin: 40px;
	border-radius: 5px;
}

#famille {
	width: 400px;
	border-radius: 5px;
}

#presentation {
	color: white;
}

#btn-blue {
	margin: 20px auto;
	background-color: #A9BCD0;
	padding: 10px;
	border-radius: 12px;
}

@media (max-width: 960px) {
	.container {
		width:700px;
	}
}

@media (max-width: 720px) {
	.container {
		width:500px;
	}
}

@media (max-width: 540px) {
	.container {
		width:300px;
	}
}


@media (max-width: 960px) {
	#famille {
		width:400px;
	}
}

@media (max-width: 720px) {
	#famille {
		width:250px;
	}
}

@media (max-width: 540px) {
	#famille {
		width:150px;
	}
}


@media (max-width: 960px) {
	.img-circle {
		width:200px;
	}
}

@media (max-width: 720px) {
	.img-circle {
		width:150px;
	}
}

@media (max-width: 540px) {
	.img-circle {
		width:100px;
	}
}
